	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/07/2017 17:10
  	*/

@font-face {
  font-family: "flaticon-set-seo";
  src: url("../fonts/flaticons/flaticon-set-seo.eot");
  src: url("../fonts/flaticons/flaticon-set-seod41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-seo.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-seo.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-seo.svg#flaticon-set-seo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-seo";
    src: url("../fonts/flaticons/flaticon-set-seo.svg#flaticon-set-seo") format("svg");
  }
}

[class^="flaticon-seo-"]:before, [class*=" flaticon-seo-"]:before,
[class^="flaticon-seo-"]:after, [class*=" flaticon-seo"]:after {   
  font-family: flaticon-set-seo;
  font-style: normal;
}

.flaticon-seo-search-engine:before { content: "\f100"; }
.flaticon-seo-viral-marketing-1:before { content: "\f101"; }
.flaticon-seo-seo-meter:before { content: "\f102"; }
.flaticon-seo-viral-marketing:before { content: "\f103"; }
.flaticon-seo-network:before { content: "\f104"; }
.flaticon-seo-pay-per-click-1:before { content: "\f105"; }
.flaticon-seo-ppc-pay-per-click:before { content: "\f106"; }
.flaticon-seo-pay-per-click:before { content: "\f107"; }
.flaticon-seo-link-building:before { content: "\f108"; }
.flaticon-seo-skyscraper-buildings-linked-to-connectors:before { content: "\f109"; }
.flaticon-seo-consulting-2:before { content: "\f10a"; }
.flaticon-seo-consulting-1:before { content: "\f10b"; }
.flaticon-seo-consulting:before { content: "\f10c"; }
.flaticon-seo-bar-chart:before { content: "\f10d"; }
.flaticon-seo-computer:before { content: "\f10e"; }
.flaticon-seo-arrows-1:before { content: "\f10f"; }
.flaticon-seo-technology-7:before { content: "\f110"; }
.flaticon-seo-upload:before { content: "\f111"; }
.flaticon-seo-light:before { content: "\f112"; }
.flaticon-seo-multimedia-8:before { content: "\f113"; }
.flaticon-seo-circle:before { content: "\f114"; }
.flaticon-seo-transport-4:before { content: "\f115"; }
.flaticon-seo-arrow:before { content: "\f116"; }
.flaticon-seo-technology-6:before { content: "\f117"; }
.flaticon-seo-technology-5:before { content: "\f118"; }
.flaticon-seo-arrows:before { content: "\f119"; }
.flaticon-seo-technology-4:before { content: "\f11a"; }
.flaticon-seo-multimedia-7:before { content: "\f11b"; }
.flaticon-seo-handshake:before { content: "\f11c"; }
.flaticon-seo-technology-3:before { content: "\f11d"; }
.flaticon-seo-business:before { content: "\f11e"; }
.flaticon-seo-technology-1:before { content: "\f11f"; }
.flaticon-seo-paper-plane:before { content: "\f120"; }
.flaticon-seo-agreement:before { content: "\f121"; }
.flaticon-seo-transport-3:before { content: "\f122"; }
.flaticon-seo-transport-2:before { content: "\f123"; }
.flaticon-seo-technology:before { content: "\f124"; }
.flaticon-seo-multimedia-5:before { content: "\f125"; }
.flaticon-seo-message-1:before { content: "\f126"; }
.flaticon-seo-message:before { content: "\f127"; }
.flaticon-seo-multimedia-4:before { content: "\f128"; }
.flaticon-seo-multimedia-3:before { content: "\f129"; }
.flaticon-seo-multimedia-2:before { content: "\f12a"; }
.flaticon-seo-multimedia-1:before { content: "\f12b"; }
.flaticon-seo-multimedia:before { content: "\f12c"; }
.flaticon-seo-transport-1:before { content: "\f12d"; }
.flaticon-seo-transport:before { content: "\f12e"; }
.flaticon-seo-transport-5:before { content: "\f12f"; }